<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <h2>收货地址管理</h2>
    <br>
    <form class="layui-form layui-form-pane form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户id</label>
            <div class="layui-input-inline">
                <input type="text" name="userId" placeholder="请输入所属用户id" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-inline">
                <input type="text" name="takeAddress" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-inline">
                <input type="text" name="name" placeholder="请输入收货人" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="takePhone" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">添加时间从</label>
            <div class="layui-input-inline">
                <input type="text" name="startTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" id="startTime">
            </div>
            <label class="layui-form-label">到</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" id="endTime">
            </div>
            <button class="layui-btn" id="query" lay-submit lay-filter="querySubmit">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>

    <table id="table" lay-filter="table"></table>

    <form id="update" class="layui-form layui-form-pane form" action="" lay-filter="updateForm">
        <div class="layui-form-item">
            <label class="layui-form-label">所属用户id</label>
            <div class="layui-input-inline">
                <input type="text" name="userId" disabled placeholder="请输入所属用户id" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">寝室区id</label>
            <div class="layui-input-inline">
                <input type="text" name="dormitoryId" disabled placeholder="请输入寝室区id" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-inline">
                <input type="text" name="takeAddress" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-inline">
                <input type="text" name="name" placeholder="请输入收货人" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="takePhone" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">寝室类型</label>
            <div class="layui-input-inline">
                <select name="sex" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="1">男寝</option>
                    <option value="2">女寝</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否默认</label>
            <div class="layui-input-inline">
                <select name="isDefault" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit lay-filter="updateSubmit">修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>

    <script>
        layui.use(['form','laydate','table'], function() {
            var form = layui.form;
            var table = layui.table;
            var laydate = layui.laydate;
            laydate.render({
                elem: '#startTime'
            });
            laydate.render({
                elem: '#endTime'
            });

            var tableIns = tableInstance(table,'/takeAddress/query',[
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'},
                {field: 'userId', title: '用户id'},
                {field: 'dormitoryId', title: '寝室区id'},
                {field: 'takeAddress', title: '详细地址'},
                {field: 'name', title: '收货人'},
                {field: 'takePhone', title: '电话号码'},
                {field: 'sex', title: '寝室类型',templet: function (d) {
                        return d.sex === 1 ? '男寝' : '女寝';
                    }}
            ]);
            querySubmit(form,tableIns);
            listenTool(table,form,'/takeAddress/get','/takeAddress/update','/takeAddress/del');
        });
    </script>

</div>
</body>
</html>